$color_fondo:#FDFDFD;
$color_title:#1D1C24;

$color_gray_1:#333333;
$color_gray_2:#F4F3EE;
$color_gray_3:#828282;
$color_gray_4:#262626;
$color_gray_5:#8A817C;

$color_pink_1:#FFF1F0;
$color_pink_2:#FFDADB;
$color_pink_3:#E9BDBE;
$color_pink_4:#E9BDBE;

$color_green_1:#BFEDE6;
$color_green_2:#5CD4C3;
$color_green_3:#1A6157;


$font_principal: 'Euclid Circular B Regular';

@font-face {
  font-family: 'Euclid Circular B Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Euclid Circular B Regular'), url('Euclid Circular B Regular.woff') format('woff');
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: $color_fondo
}

//Para que le scroll se haga lento
@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

.colorGreen1 {
  color: $color_green_1
}


.nav {
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;

  &_flex {
    display: flex;
    flex-direction: row;

    margin-left: 60px;

    &_img {
      border-radius: 50%;
    }

    &Column {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 10px;
      letter-spacing: 2px;

      &_name {
        font-family: $font_principal;
        font-weight: 600;
        font-size: 14px;
        color: $color_gray_4;
      }

      &_subname {
        font-family: $font_principal;
        font-weight: 400;
        font-size: 14px;
        color: $color_gray_3;
      }
    }
  }

  &_bar {
    padding: 8px 0px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    background-color: #fff;

    &__item {
      padding: 8px 16px;
      float: left;
      width: auto;
      border: none;
      display: block;
      outline: 0;
    }

    &__right {
      float: right;
      margin-right: 13vh;
    }

    &:before,
    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }
}

.navmob {
  display: none;
}

//Nav For mobile 
@media only screen and (max-width: 768px) {
  .nav {
    display: none
  }

  .navmob {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    z-index: 1030;
    padding: 10px 0px 10px 0px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    background-color: #fff;

    &_JZ {
      margin: 1px 12px 1px 8px;
      border-radius: 0;
      color: #000;
      text-decoration: none;
      font-family: $font_principal;
      font-weight: 600;
      font-size: 14px;
      color: $color_gray_4;
      letter-spacing: 1px;
      float: left;

      &_flex {
        display: flex;
        flex-direction: row;

        &_img {
          border-radius: 50%;
          display: none;
        }

        &Column {
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin-left: 5px;

          &_name {
            font-family: $font_principal;
            font-weight: 600;
            font-size: 14px;
            color: $color_gray_4;
          }

          &_subname {
            font-family: $font_principal;
            font-weight: 400;
            font-size: 14px;
            color: $color_gray_3;
          }
        }
      }
    }

    &__open {
      float: right;
      margin-right: 30px
    }

    &__items {
      display: flex;
      flex-direction: column;
      margin-top: 15px;

      &--i {
        margin: 8px 12px 8px 12px;
        border-radius: 0;
        color: #000;
        vertical-align: middle;
        text-transform: uppercase;
        text-decoration: none;
        position: relative;
        padding-bottom: 5px;
        font-family: $font_principal;
        font-weight: 600;
        font-size: 14px;
        color: $color_gray_4;
        letter-spacing: 4px;

      }
    }
  }
}

//End Nav For mobile 
.NavBtn__2 {
  display: inline-block;
  margin: 8px 12px 8px 12px;
  border-radius: 0;
  color: #000;
  vertical-align: middle;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  padding-bottom: 15px;
  font-family: $font_principal;
  font-weight: 600;
  font-size: 14px;
  color: $color_gray_4;
  letter-spacing: 4px;

  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
    height: 3px;
    width: 0;
  }

  &:before {
    transition: width 0s ease, background 0.4s ease;
    left: 0;
    right: 0;
    bottom: 6px;
  }

  &:after {
    right: 12%;
    bottom: 6px;
    background: $color_pink_1;
    transition: width 0.4s ease;
  }

  &:hover {
    &:before {
      margin-left: 8%;
      width: 80%;
      background: $color_pink_1;
      transition: width 0.4s ease;
    }

    &:after {
      margin-left: 38%;
      width: 80%;
      background: 0 0;
      transition: all 0s ease;
    }
  }
}

.pag,
.pagCont,
.pagProy {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



@media only screen and (max-width: 768px) {
  .pag {
    height: 120vmax;
  }

  .pagProy {
    height: 140vmax;
  }

  .pagCont {
    height: 100vh;
  }
}


.pagSeparador {
  &Home {
    height: 150px; //3
  }

  &Arrow {
    height: 10px; //7
  }

  &SM0 {
    height: 200px; //-
  }

  &SM1 {
    height: 200px; //2
  }

  &SER0 {
    height: 200px; //-
  }

  &SER1 {
    height: 250px; //5
  }

  &PROY0 {
    height: 250px; //-
  }

  &PROY1 {
    height: 150px; //4
  }

  &CONT0 {
    height: 100px; //6
  }

  &CONT1 {
    height: 150px; //4
  }
}



@media only screen and (max-width: 768px) {

  .pagSeparador {
    &Home {
      height: 20px; //3
    }

    &Arrow {
      height: 0px; //7
    }

    &SM0 {
      height: 0px; //-
    }

    &SM1 {
      height: 30px; //2
    }

    @media only screen and (min-height: 800px) {
      &SM1 {
        height: 0px; //2
        margin-top: -30px
      }
    }

    &SER0 {
      height: 0px; //-
    }

    &SER1 {
      height: 0px; //5
    }

    @media only screen and (min-height: 800px) {
      &SER1 {
        margin-top: -50px
      }
    }

    &PROY0 {
      height: 0px; //-
    }

    &PROY1 {
      height: 150px; //4
    }

    @media only screen and (min-height: 800px) {
      &PROY1 {
        height: 0px; //4
      }
    }

    &CONT0 {
      height: 0px; //6
    }

    &CONT1 {
      height: 140px; //4
    }

    @media only screen and (min-height: 800px) {
      &CONT1 {
        height: 20px; //4
      }
    }
  }
}

@media only screen and (max-width: 768px) and (max-height: 550px) {

  .pagSeparador {
    &Home {
      height: 100px; //3
    }

    &Arrow {
      height: 0px; //7
    }

    &SM0 {
      height: 100px; //-
    }

    &SM1 {
      height: 100px; //2
    }

    &SER0 {
      height: 100px; //-
    }

    &SER1 {
      height: 50px; //5
    }

    &PROY0 {
      height: 100px; //-
    }

    &PROY1 {
      height: 200px; //4
    }

    &CONT0 {
      height: 300px; //6
    }

    &CONT1 {
      height: 150px; //4
    }
  }
}


.home__div {
  display: flex;
  align-items: center;

  &__text {
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
    margin-right: 12.5vh;

    &--title {
      font-size: 72px;
      color: $color_gray_4;
      font-weight: 600;
      font-family: $font_principal;
      font-style: normal;
    }

    &--icon {
      height: auto;
    }

    &--subTitle {
      font-size: 18px;
      color: $color_gray_1;
      font-weight: normal;
      margin-top: 2vh;
      margin-right: 5vh;
      font-family: $font_principal;
    }

    &--btn {
      margin-top: 4vh;
      width: 187px;
      height: 45px;
      background: transparent;
      border: none;
      color: #FFFFFF;
      border-radius: 10px;
      font-size: 18px;
      font-weight: 500;
      font-family: $font_principal;
      letter-spacing: 1px;
      background-color: $color_green_2;
      letter-spacing: 0.045em;
      cursor: pointer;

    }
  }

  &__img {
    margin-right: 3vh;
    width: auto;
    height: auto;

  }

  &__redes {
    display: flex;
    flex-direction: column;

    &Fondo {
      background-color: $color_green_2;
      height: 30px;
      width: 30px;
      border-radius: 50%;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 20px;

      &--img {
        margin-top: 4px;

      }
    }

    &Fondo:hover {
      background-color: $color_pink_2;
      transition: all 0.7s;
    }


    &Fondo:hover .home__div__redesFondo--img {
      transition: all 0.7s;
      transform: scale(1.5)
    }

  }

  &__column3 {
    &__fondo {
      z-index: -5;
      right: 0;
      position: absolute;
    }
  }

  &__column0 {
    &__fondo {
      z-index: -5;
      left: 0;
      top: 55%;
      position: absolute;
    }
  }

}

//Home For mobile 
@media only screen and (max-width: 768px) {

  .home__div {
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__text {
      margin-top: 0.5vh;
      margin-right: 0vh;

      &--title {
        font-size: 50px;
      }

      &--icon {
        height: 50px;
        width: auto;

      }

      &--flex {
        display: flex;
        justify-content: center;
      }

      &--btn {
        margin: 20px 0 20px 0;
        width: 138.75px;
        height: 33.75px;
        font-size: 13.5px;
        align-self: center;
      }
    }

    &__img {
      margin: -20vmax 0 10px 0;
      width: 70%;
      order: -1;

    }

    &__redes {
      display: flex;
      flex-direction: row;

      &Fondo {
        background-color: $color_green_2;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px;

        &--img {
          margin-top: 2px;

        }
      }

      &Fondo:hover {
        background-color: $color_green_2;
        transition: all 0.7s;
      }


      &Fondo:hover .cont__row2__column2--redesFondo--img {
        transition: all 0.7s;
        transform: scale(1)
      }

    }

    &__column3 {
      &__fondo {
        top: 50%;
      }
    }

    &__column0 {
      &__fondo {
        top: 80%;
      }
    }

  }

}

.imgArrow {
  display: flex;
  align-items: center;
  justify-content: center;
  animation: slide2 1s ease-in-out infinite;
}

@keyframes slide2 {

  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(0, 10px);
  }
}

@media only screen and (max-width: 768px) {
  .imgArrow {
    display: none
  }
}

//End Home For mobile 

.sm {
  display: flex;
  flex-direction: row;
  margin: 5vh 13vh 0 50vh;

  &__column1 {

    float: left;
    position: relative;

    &__fondo {
      z-index: -5;

      right: -15%;
      bottom: -20%;
      position: absolute;
    }

    &__fondoMob {
      display: none;
    }

    &__img {
      margin: 5vh 10vh 0 0;
      width: auto;
      height: auto;
    }

  }

  &__column2 {
    width: 70vh;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    margin-left: 50px;



    &__title {
      font-size: 54px;
      color: $color_title;
      font-weight: 500;
      font-family: $font_principal
    }

    &__subTitle {
      font-size: 18px;
      font-weight: 400;
      color: $color_gray_5;
      font-family: $font_principal
    }

    &__desc {
      font-size: 16px;
      font-weight: 300;
      font-family: $font_principal;
      color: $color_gray_3;
      margin-top: 2vh;
      margin-right: 13vh;
      letter-spacing: 1px;
      line-height: 25px;
    }

    &__desc p {
      margin-top: 1vh;
    }

    &__btn {
      width: 187px;
      height: 45px;
      margin-top: 3vh;
      background: transparent;
      color: $color_green_2;
      border: 2px solid $color_green_2;
      border-radius: 10px;
      font-size: 16px;
      font-weight: 500;
      font-family: $font_principal;
      letter-spacing: 1px;
      transition: all 0.3s linear 0s;
      cursor: pointer;



      &:hover {
        background: $color_green_2;
        color: #fff;

      }

      &--flex {
        display: flex;
        justify-content: flex-start;

      }
    }
  }
}

//Sobre Mi For mobile 
@media only screen and (max-width: 768px) {
  .sm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    margin: 0;

    &__column1 {

      &__fondo {
        display: none
      }

      &__fondoMob {
        display: inline-block;
        z-index: -5;

        right: -15%;
        bottom: -20%;
        position: absolute;
      }

      &__img {
        margin: 0;
        width: 220px;
        height: 248px;
      }

    }

    &__column2 {
      width: 100%;
      align-items: center;
      margin-left: 0px;



      &__title {
        font-size: 50px;


        &--icon {
          display: none;
        }
      }


      &__desc {
        margin: 1vh 1.5vh 0vh 1.5vh;
        line-height: 20px;
        text-align: justify
      }

      &__btn {
        width: 138.75px;
        height: 33.75px;
        margin-top: 2vh;

        font-size: 12px;
      }
    }
  }
}

//End Sobre Mi For mobile 
.ser {
  display: flex;

  &__column1 {
    &__fondo {
      z-index: -5;
      left: 2%;
      margin-top: 170px;
      position: absolute;
    }
  }

  &__column2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__title {
      font-size: 54px;
      color: $color_title;
      font-weight: 600;
      font-family: $font_principal
    }

    &__subTitle {
      font-size: 18px;
      color: $color_gray_5;
      font-family: $font_principal;
      margin-top: 0.1vh;
    }

    &__servicios {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-top: 50px;

      &_uno {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: 10vh;
        margin-left: 10vh;

        &--img {
          width: 84px;
          height: 71px;
          padding: 35px;
        }

        &--img:hover {
          filter: brightness(50%);
        }

        &--img--fondo {
          background-color: none;
          border-radius: 50%;
          transition: all 0.3s linear 0s;
        }

        &--img--fondo:hover {
          background-color: $color_green_1;
          filter: brightness(100%);

        }

        &--title {
          margin-top: 1vh;
          font-size: 18px;
          color: $color_gray_4;
          font-family: $font_principal;
          font-weight: 600;
        }

        &--desc {
          font-size: 14px;
          margin-top: 1.3vh;
          color: $color_gray_3;
          font-family: $font_principal;
          font-weight: 400;
          text-align: center;
        }
      }
    }
  }

  &__column3 {
    &__fondo {
      z-index: -5;
      right: 0;
      position: absolute;
      margin-top: -300px
    }
  }
}



//Servicios For mobile 
@media only screen and (max-width: 768px) {

  .ser {
    display: flex;
    align-items: center;

    &__column1 {
      &__fondo {

        margin-top: -100%;
      }
    }

    &__column2 {


      &__servicios {
        flex-direction: column;
        margin-top: 10px;

        &_uno {
          margin-right: 0vh;
          margin-left: 0vh;

        }
      }
    }
  }
}

//End Servicios For mobile 
.proyect {
  display: flex;

  &__fondo1 {
    z-index: -5;
    left: 2%;
    margin-top: 170px;
    position: absolute;
  }

  &__fondo2 {
    z-index: -5;
    right: 0;
    position: absolute;
    margin-top: 300px
  }

  &__fondo3 {
    z-index: -5;
    right: 13%;
    position: absolute;
    margin-top: 700px
  }
}

.proy {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__title {
    font-size: 54px;
    color: $color_title;
    font-weight: 600;
    font-family: $font_principal;

  }

  &__subTitle {
    font-size: 18px;
    color: $color_gray_5;
    font-family: $font_principal;
    margin-top: 1vh;
  }

  &__btn {
    display: flex;
    flex-direction: row;
    align-items: center;

  }

  &__row {
    display: flex;
    flex-direction: row;
    margin-top: 42px;
    justify-content: center;
    width: 1350px;
    height: 474px;
    background-color: #ffffff;
    box-shadow: 1px 1px 4px 2px (rgba(0, 0, 0, 0.03));
    border-radius: 20px;


    &__column1 {

      display: flex;
      flex-direction: column;
      //align-items: left;
      margin: 42px 30px 40px 30px;

      &--title {
        font-size: 22px;
        font-weight: 500;
        color: $color_title;
        font-family: $font_principal;

        &-B {
          font-size: 24px;
          font-weight: 600;
        }
      }

      &--desc {
        font-size: 16px;
        font-weight: 300;
        color: #8a817c;
        font-family: $font_principal;
        margin-top: 10px;
        letter-spacing: 1px;
        line-height: 25px;
      }

      &--tareasTitle {
        font-size: 14px;
        font-weight: 300;
        color: #8a817c;
        font-family: $font_principal;
        margin-top: 27px;
        letter-spacing: 1px;
        line-height: 25px;
      }

      &--tareasFlex {
        display: flex;
        flex-direction: row;
        margin-top: 19px;

        &-img {
          height: 36px;
          width: 36px;
        }

        &-desc {
          font-size: 14px;
          font-weight: 300;
          color: #8a817c;
          font-family: $font_principal;
          letter-spacing: 1px;
          line-height: 25px;
          margin-left: 1.5vh;
          align-self: center;
        }
      }

    }


    &__column2 {

      position: relative;

      &--title {
        display: none;
      }

      &:hover .proy__row__column2--img {
        transition: all 1.5s;
        filter: brightness(60%);
        //z-index: -3;
      }

      &:hover .proy__row__column2--btn {
        filter: brightness(100%);
        transition: all 1s;
        opacity: 1;
        z-index: 3;
        cursor: pointer;
      }

      &--img {
        width: 508px;
        height: 419.54px;
        border-radius: 20px;
        margin-top: 27px;
        z-index: 1;
        margin-right: 50px;
      }



      &--btn {
        right: 37.5%;
        bottom: 45%;
        position: absolute;
        width: 185px;
        height: 45px;
        background: transparent;
        border: none;
        background-color: $color_pink_2;
        color: white;
        border-radius: 10px;
        font-size: 16px;
        font-weight: 500;
        font-family: $font_principal;
        letter-spacing: 1px;
        opacity: 0;

      }
    }
  }
}






//Proyectos For mobile  
@media only screen and (max-width: 768px) {

  .proyect {
    display: flex;

    &__fondo1 {
      left: 0%;
      margin-top: 200px;
    }

    &__fondo2 {
      margin-top: 900px
    }
  }

  .proy {


    &__btn {
      flex-direction: column;
      margin-top: 10px;

      &__ir {
        order: 1;
      }

      &__vuelta {
        order: 1;
      }
    }


    &__row {
      order: 3;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      margin-top: 10px;
      margin-bottom: 10px;
      width: 95%;
      height: 850px;

      &__column1 {
        align-items: center;
        justify-content: center;
        margin: 0;

        &--title {
          display: none;
        }

        &--desc {
          margin-top: 2vh;
          line-height: 20px;
        }

        &--tareasTitle {
          margin-top: 3vh;
          line-height: 20px;
          align-self: flex-start;

        }

        &--tareasFlex {
          width: 100%;
        }

      }

      &__column2 {
        order: -1;

        &--title {
          display: flex;
          align-items: center;
          justify-content: center;

          &-Mob {
            color: $color_title;
            font-family: $font_principal;
            font-size: 22px;
            font-weight: 600;
            margin: 10px 0 10px 0;
            order: 1;
          }
        }


        &:hover .proy__row__column2--img {
          filter: brightness(100%);
        }

        &--img {
          width: 301.5px;
          height: 249px;
          margin-top: 5px;
          margin-right: 0px;
        }

        &--btn {
          right: 25%;
          bottom: 35%;
          width: 138px;
          height: 33.75px;
          background-color: $color_pink_3;
          font-size: 12px;
          opacity: 1;
        }
      }
    }
  }
}

//END Proyectos For mobile 

//BTN DE PROYECTS
.proy__btn__irImg,
.proy__btn__vueltaImg {
  height: 84px;
  width: 84px;
  animation: slide1 1s ease-in-out infinite;
  cursor: pointer;
}

.proy__btn__irImg-bloque,
.proy__btn__vueltaImg-bloque {
  height: 84px;
  width: 84px;
}


@keyframes slide1 {

  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(10px, 0);
  }
}

@media only screen and (max-width: 768px) {

  .proy__btn__irImg,
  .proy__btn__vueltaImg {
    height: 42px;
    width: 42px;
  }

  .proy__btn__irImg-bloque,
  .proy__btn__vueltaImg-bloque {
    display: none !important;
  }

  .proy__btn__vueltaImg {
    margin-right: 50px;
  }

  .proy__btn__irImg {
    margin-left: 50px;
  }
}

//----------------//
//-- !CONTACTO! --//
//----------------//
.cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;

  &__title {
    font-size: 64px;
    color: $color_title;
    font-weight: 600;
    font-family: $font_principal
  }

  &__row1 {
    display: flex;
    flex-direction: row;

    &__img1 {
      margin-right: 20px;
      margin-top: 15px;
    }

    &__subTitle {
      font-size: 18px;
      color: $color_gray_4;
      font-family: $font_principal
    }

    &__img2 {
      margin-left: 20px;
      margin-top: 15px;
    }
  }

  &__row2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 20px;

    &__column0 {
      display: flex;
      flex-direction: column;
      align-items: center;

      &__fondo {
        z-index: -5;
        left: 0;
        position: absolute;

      }
    }

    &__column1 {
      display: flex;
      flex-direction: column;
      align-items: center;

      margin-right: 300px;

      &--subtitle {
        font-size: 14px;
        color: $color_gray_3;
        font-family: $font_principal;
        width: 342px;
      }

      &--form {

        &-name {
          width: 292px;
          height: 35px;
          border: 2px solid $color_green_2;
          border-radius: 10px;
          margin-top: 50px;
          background-color: $color_fondo;

          &-img {
            width: 16px;
            height: 15px;
            margin: 10px 9px 0px 16px;
          }

          &-input {
            border: none;
            outline: none;
            width: 240px;
            font-size: 14px;
            font-weight: 400;
            color: $color_gray_4;
            font-family: $font_principal;
            margin-top: 8px;
            background-color: $color_fondo;
          }
        }

        &-mail {
          width: 292px;
          height: 35px;
          border: 2px solid $color_green_2;
          border-radius: 10px;
          margin-top: 16px;
          background-color: $color_fondo;

          &-img {
            width: 20.86px;
            height: 15px;
            margin: 10px 7px 0px 14px;

          }

          &-input {
            border: none;
            outline: none;
            width: 240px;
            font-size: 14px;
            font-weight: 400;
            color: $color_gray_4;
            font-family: $font_principal;
            margin-top: 8px;
            background-color: $color_fondo;
          }
        }

        &-comment {
          width: 291px;
          height: 143px;
          border: 2px solid $color_green_2;
          border-radius: 10px;
          margin-top: 16px;
          background-color: $color_fondo;

          &-txt {
            margin: 10px 0px 0px 14px;
            border: none;
            outline: none;
            width: 260px;
            height: 123px;
            resize: none;
            font-size: 14px;
            font-weight: 400;
            color: $color_gray_4;
            font-family: $font_principal;
            background-color: $color_fondo;
          }
        }
      }

      //Fin Form
      &--flex {
        display: flex;
        justify-content: flex-end;
        margin: 16px 00px 0px 0px;

        &--btn {

          width: 185px;
          height: 45px;

          background: transparent;
          border: 2px solid $color_green_2;
          background-color: $color_green_2;
          color: white;
          border-radius: 10px;
          font-size: 16px;
          font-weight: 500;
          font-family: $font_principal;

          letter-spacing: 1px;
          transition: all 0.3s linear 0s;

          &:hover {
            background-color: #FFF;
            color: $color_green_2;
          }
        }
      }
    }

    //Fin Column 1
    &__column2 {
      display: flex;
      flex-direction: column;
      width: 100%;

      &--subtitle {
        font-size: 14px;
        color: $color_gray_3;
        font-family: $font_principal;
        align-self: center;
      }

      &--redes {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 50px;
        width: 300px;

        &Fondo {
          background-color: $color_green_2;
          height: 30px;
          width: 30px;
          border-radius: 50%;
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
          display: flex;
          align-items: center;
          justify-content: center;

          &--img {
            margin-top: 2px;
          }
        }

        &Fondo:hover {
          background-color: $color_pink_2;
          transition: all 0.7s;
        }


        &Fondo:hover .cont__row2__column2--redesFondo--img {
          transition: all 0.7s;
          transform: scale(1.5)
        }

        &1 {
          display: flex;
          flex-direction: row;
          margin-bottom: 29px;


          &--desc {
            font-size: 14px;
            color: $color_gray_3;
            font-family: $font_principal;
            padding-top: 5px;
          }
        }

      }
    }

    //Fin Column 2
    &__column3 {
      display: flex;
      flex-direction: column;
      align-items: center;

      &__fondo {
        z-index: -5;
        right: 0;
        position: absolute;
        margin-top: 100px;
      }
    }
  }
}

@media only screen and (max-width:768px) {

  .cont {
    &__row1 {
      flex-direction: column;
      align-items: center;
      margin-bottom: 0px;

      &__img1 {
        display: none
      }

      &__subTitle {
        font-size: 18px;
        color: $color_gray_4;
        font-family: $font_principal
      }

      &__img2 {
        display: none;
        margin-left: 0px;
        margin-top: 5px;
        height: 73.5px;
        width: 68.25px;
      }
    }

    &__row2 {
      flex-direction: column;
      align-items: center;

      &__column1 {
        margin-right: 0px;

        &--flex {
          justify-content: center;
          margin: 16px 00px 16px 0px;

          &--btn {
            width: 138.75px;
            height: 33.75px;
            font-size: 12px;
          }
        }
      }

      //Fin Column 1
      &__column2 {
        &--redes {
          justify-content: space-between;
          margin-top: 50px;
          width: 80%;
          margin-right: 10%;
          margin-left: 10%;

          &Fondo:hover {
            background-color: $color_green_2;
          }

          &Fondo:hover .cont__row2__column2--redesFondo--img {
            transform: scale(1)
          }
        }
      }

      //Fin Column 2
      &__column3 {

        &__fondo {
          right: 0;
          margin-top: -90%;
        }
      }
    }
  }
}



.linkDecoration_none {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  font-family: $font_principal;

  &:link {
    text-decoration: none;
  }

  &:visited {
    text-decoration: none;
  }
}

.linkDecoration_none_nav {
  text-decoration: none;

  &:link {
    text-decoration: none;
  }

  &:visited {
    text-decoration: none;
  }
}



.btn-flotante {
  display: none
}

@media only screen and (max-width: 768px) {
  .btn-flotante {
    display: inline-block;
    padding: 15px 15px;
    bottom: 5px;
    right: 5px;
    position: fixed;
    border-radius: 50%;
    background-color: $color_pink_1;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    z-index: 99;

    &--img {
      width: 30px;
      height: auto;
    }
  }
}


.swal-overlay {
  background-color: rgba(191, 237, 230, 0.45);
  //background-color: rgba(255, 241, 240, 0.45);
}

.swal-modal {
  font-family: $font_principal;
}

.swal-button--confirm,
.swal-button {
  font-family: $font_principal;
  border-radius: 10px;
  border: none !important;
  background-color: $color_pink_3;
}

.swal-button--confirm:hover {
  background-color: $color_pink_3 !important;
}

.swal-button--confirm:active {
  background-color: $color_pink_2 !important;
  border: none !important;
}