$color_gray_1:#333333;
$color_gray_2:#4F4F4F;
$color_gray_3:#828282;
$color_pink_1:#FFC4C4;
$font_principal: 'Euclid Circular B Regular';

@font-face {
  font-family: 'Euclid Circular B Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Euclid Circular B Regular'), url('Euclid Circular B Regular.woff') format('woff');
}

* {
  margin: 0;
  padding: 0;
}

.nav {
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;

  &_bar {
    padding: 8px 0px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    background-color: #fff;

    &__item {
      padding: 8px 16px;
      float: left;
      width: auto;
      border: none;
      display: block;
      outline: 0;
    }

    &__right {
      float: right;
      margin-right: 13vh;
    }

    &:before,
    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }
}


//Nav For mobile 
@media only screen and (max-width: 768px) {
  .nav_bar__item_jz {
    display: none
  }

  .nav {
    position: fixed;
    width: 100%;
    z-index: 55;
    top: 0;

    &_bar {
      padding: 0px 0px;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
      background-color: #fff;

      &__item {
        padding: 8px 8px;
        float: left;
        width: auto;
        border: none;
        display: block;
        outline: 0;
      }

      &__right {
        float: left;
        margin-right: 0vh;
      }

      &:before,
      &:after {
        content: "";
        display: table;
        clear: both;
      }
    }
  }

}

//End Nav For mobile 



.NavBtn__2 {
  display: inline-block;
  margin: 8px 12px 8px 12px;
  border-radius: 0;
  color: #000;
  vertical-align: middle;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  padding-bottom: 15px;
  font-family: $font_principal;
  font-weight: 500;
  font-size: 14px;
  color: $color_gray_1;
  letter-spacing: 4px;

  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
    height: 3px;
    width: 0;
  }

  &:before {
    transition: width 0s ease, background 0.4s ease;
    left: 0;
    right: 0;
    bottom: 6px;
  }

  &:after {
    right: 12%;
    bottom: 6px;
    background: $color_pink_1;
    transition: width 0.4s ease;
  }

  &:hover {
    &:before {
      margin-left: 8%;
      width: 80%;
      background: $color_pink_1;
      transition: width 0.4s ease;
    }

    &:after {
      margin-left: 38%;
      width: 80%;
      background: 0 0;
      transition: all 0s ease;
    }
  }
}

//NavBtn__2 For mobile 
@media only screen and (max-width: 768px) {
  .NavBtn__2 {
    margin: 8px 0.3px 8px 0.3px;
    letter-spacing: 0.5px;
  }
}

//END NavBtn__2 For mobile 

.pag {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

//NavBtn__2 For mobile 
@media only screen and (max-width: 768px) {
  .pag {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 120vmax;
    width: 100%;
  }
}



.gen {
  &__title {
    font-size: 64px;
    color: $color_gray_1;
    font-weight: 600;
    font-family: $font_principal
  }

  &__subTitle {
    font-size: 18px;
    color: $color_gray_3;
    font-family: $font_principal
  }
}



//For mobile 
@media only screen and (max-width: 768px) {
  .gen {
    &__title {
      font-size: 48px;
    }
  }
}

//End For mobile 

.home__div {
  display: flex;
  margin: 0vh 7vh 0 12.5vh;

  &__text {
    display: flex;
    flex-direction: column;
    margin-top: 5vh;

    &--title {
      font-size: 60px;
      color: $color_gray_1;
      font-weight: 600;
      font-family: $font_principal;
      font-style: normal;
    }

    &--subTitle {
      font-size: 18px;
      color: $color_gray_1;
      font-weight: 400;
      margin-top: 1vh;
      margin-right: 5vh;
      font-family: $font_principal;
    }

    &--btn {
      margin-top: 5vh;
    }
  }

  &__img {
    margin-right: 3vh;
    width: 498px;
    height: auto;
  }

  &__redes {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &--red {
      height: 40px;
      width: 40px;
      margin: 20px
    }

  }

}

//Home For mobile 
@media only screen and (max-width: 768px) {
  .home__div {
    flex-direction: column;
    margin: 0vh 1vh 0 1vh;


    &__text {
      margin-top: 1vh;

      &--title {
        font-size: 40px;
      }

      &--flex {
        display: flex;
        justify-content: center;
      }

      &--btn {
        margin-top: 1vh;
      }
    }

    &__img {
      margin-right: 0vh;
      width: 100%;
      height: auto;

      &--flex {
        display: flex;
        justify-content: center;
        order: -1;
      }
    }

    &__redes {
      display: flex;
      flex-direction: row;
      justify-content: center;

      &--red {
        height: 40px;
        width: 40px;
        margin: 20px
      }

    }

  }
}

//End Home For mobile 

.sm__div {
  display: flex;
  margin: 5vh 13vh 0 20vh;

  &__img {
    margin-right: 10vh;
    width: 498px;
    height: auto;
  }

  &__column {
    width: 70vh;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    margin-left: 50px;

    &--desc {
      font-size: 18px;
      font-weight: 300;
      font-family: $font_principal;
      color: $color_gray_3;
      margin-right: 13vh;
      letter-spacing: 1px;
      line-height: 25px;
    }

    &--btn {
      margin-top: 5vh;


    }

  }

}

//Sobre Mi For mobile 
@media only screen and (max-width: 768px) {
  .sm__div {
    display: flex;
    flex-direction: column;
    margin: 2vh 1vh 0 1vh;

    &__img {
      margin-right: 0vh;
      width: 70%;
      height: auto;

      &--flex {
        display: flex;
        justify-content: center;
      }
    }

    &__column {
      margin: 2vh 1vh 1vh 1vh;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-left: 0px;

      &--desc {
        margin-right: 0vh;
      }

      &--btn {
        margin-top: 1vh;
      }
    }
  }
}

//End Sobre Mi For mobile 


.ser__div {
  display: flex;
  margin: 7.5vh 27.5vh 0 27.5vh;

  &__column {
    display: flex;
    flex-direction: column;
    width: 50vh;
    align-items: center;
    justify-content: center;

    &--flex {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    &--img {
      width: 250px;
      height: auto;
    }

    &--title {
      margin-top: 3vh;
      font-size: 24px;
      color: $color_gray_1;
      font-family: $font_principal;
      font-weight: 600;


    }

    &--desc {
      font-size: 18px;
      color: $color_gray_3;
      font-family: $font_principal;
      font-weight: 400;

    }
  }
}



//Servicios For mobile 
@media only screen and (max-width: 768px) {

  .ser__div {
    display: flex;
    flex-direction: column;
    margin: 2vh 1vh 0 1vh;

    &__column {
      display: flex;
      flex-direction: column;
      width: 50vh;
      align-items: center;
      justify-content: center;

      &--flex {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      &--img {
        width: 250px;
        height: auto;
      }

      &--title {
        margin-top: 2vh;
        font-size: 24px;
        color: $color_gray_1;
        font-family: $font_principal;
        font-weight: 600;


      }

      &--desc {
        font-size: 18px;
        color: $color_gray_3;
        font-family: $font_principal;
        font-weight: 400;
        margin-bottom: 3vh;

      }
    }
  }
}

//End Servicios For mobile 

.proy__div {
  display: flex;
  margin: 5vh 35vh 0 35vh;
  background-color: #E5E5E5;
  border-radius: 20px;

  &__column {
    width: 507px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 3vh 2vh 0 2vh;

    &--title {
      font-size: 24px;
      font-weight: 600;
      color: $color_gray_1;
      font-family: $font_principal;
    }

    &--desc {
      font-size: 18px;
      font-weight: 300;
      color: $color_gray_2;
      font-family: $font_principal;
      margin-top: 2vh;
      letter-spacing: 1px;
      line-height: 25px;

      &_tareas {
        margin-top: 2vh;
      }

      &_tarea {
        font-size: 18px;
        font-weight: 300;
        color: $color_gray_2;
        line-height: 30px;
        font-family: $font_principal;
      }
    }

    &--flex {
      display: flex;
      justify-content: center;
      margin-top: 2vh;
    }
  }

  &__img {
    width: 507px;
    height: 501px;
    border-radius: 0 20px 20px 0;
    border: black solid 1px;
  }
}



//Proyectos For mobile 
@media only screen and (max-width: 768px) {
  .proy__div {
    display: flex;
    flex-direction: column;
    margin: 5vh 1vh 0 1vh;
    width: 95%;

    &__column {
      margin: 3vh 2vh 1vh 2vh;
      width: 95%;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: left;

      &--title {
        font-size: 24px;
        font-weight: 600;
        color: $color_gray_1;
        font-family: $font_principal;
      }

      &--desc {
        font-size: 18px;
        font-weight: 300;
        color: $color_gray_2;
        font-family: $font_principal;
        margin-top: 2vh;
        letter-spacing: 0.5px;
        line-height: 20px;
        width: 100%;

        &_tareas {
          margin-top: 2vh;
        }

        &_tarea {
          font-size: 18px;
          font-weight: 300;
          color: $color_gray_2;
          line-height: 30px;
          font-family: $font_principal;
        }
      }
    }

    &__img {
      width: 100%;
      height: auto;
      border-radius: 20px 20px 0 0;
      border: black solid 1px;
      order: -1
    }
  }
}

//END Proyectos For mobile 

.cont__div--btn {
  margin-top: 5vh;
}

.btn__1 {
  width: 20vh;
  height: 5vh;

  background: transparent;
  border: none;
  background-color: #828282;
  color: white;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
  font-family: $font_principal;

  letter-spacing: 1px;

  &:hover {
    background-color: #727272;
    color: white;
  }


}

.linkDecoration_none {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
  font-family: $font_principal;

  &:link {
    text-decoration: none;
  }

  &:visited {
    text-decoration: none;
  }
}

.foot {
  display: flex;
  justify-content: center;
  align-items: center;

  &__redSocial {
    height: 40px;
    width: 40px;
    margin: 10px
  }
}

.btn-flotante {
  display: none
}

@media only screen and (max-width: 600px) {
  .btn-flotante {
    display: inline-block;
    padding: 15px 15px;
    bottom: 5px;
    right: 5px;
    position: fixed;
    border-radius: 50%;
    background-color: $color_pink_1;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    z-index: 99;

    &--img {
      width: 30px;
      height: auto;
    }
  }
}